/* tipsy */
.tipsy {
    font-size: 10px;
    position: absolute;
    padding: 5px;
    z-index: 100000;
}

.tipsy-inner {
    background-color: #fff9c9;
    color: #333;
    max-width: 200px;
    padding: 5px 8px 4px 8px;
    text-align: center;
    border:1px solid #c7bf93;
}

/* Rounded corners */
.tipsy-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow {
    position: absolute;
    width: 9px;
    height: 9px;
    line-height: 0;
    background-image:url('data:image/gif;base64,R0lGODlhJAAJAJECAP/5yce/k////wAAACH5BAEAAAIALAAAAAAkAAkAAAI8lBUnkGoAY1QBOMQObFRGXlnd9pBO+B3omEqcmhqoiHmM98qZLmm2nVOdehdHrFhcIX3BJYy23DmRlUMBADs=');
}

/* Rules to colour arrows */
.tipsy-arrow-n {
}

.tipsy-arrow-s {
}

.tipsy-arrow-e {
}

.tipsy-arrow-w {
}

.tipsy-n .tipsy-arrow {
    top: 0px;
    left: 50%;
    margin-left: -5px;
}

.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px;
}

.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px;
}

.tipsy-s .tipsy-arrow {
    bottom: -2px;
    left: 50%;
    margin-left: -5px;
    background-position-x:-18px;
}

.tipsy-sw .tipsy-arrow {
    bottom: -2px;
    left: 10px;
    background-position-x:-18px;
}

.tipsy-se .tipsy-arrow {
    bottom: -2px;
    right: 10px;
    background-position-x:-18px;
}

.tipsy-e .tipsy-arrow {
    right: -2px;
    top: 50%;
    margin-top: -5px;
    background-position-x:-9px;
}

.tipsy-w .tipsy-arrow {
    left: 0;
    top: 50%;
    margin-top: -5px;
    background-position-x:-27px;
}
